body {
  background-color: #4b7399;
  font-family: "Droid Sans Mono", serif;
  font-size: 0.8em; }

a {
  color: blue; }
  a img {
    border: none; }

img {
  float: left;
  margin: 0 10px 10px 0; }

table {
  width: 100%;
  padding: 10px; }
  table th {
    text-align: left; }
  table td {
    padding: 3px; }
  table tr .even {
    background: #999999; }
  table tr .odd {
    background: #3366ff; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 85%;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border: solid 1px black;
  margin-top: 20px; }
  #container .nav {
    float: right;
    font-size: 1.1em; }
  #container .title {
    font-family: "Cabin Sketch", serif;
    font-size: 1.8em;
    float: right; }
    #container .title h1 {
      color: red;
      margin: 0 0 10px 0;
      padding: 0; }
      #container .title h1 a {
        color: red;
        text-decoration: none; }
        #container .title h1 ahover {
          color: green; }

#navbar {
  float: right; }
  #navbar a {
    padding: 0 5px 0 5px; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    background-color: #cc0000;
    color: white; }
    #errorExplanation h2 font {
      weight: bold;
      size: 12px; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }
