- title "SpaceShip"

%p
  = image_tag @spaceship.photo.url(:thumb)
%p
  %strong Name:
  =h @spaceship.name
%p
  %strong Class:
  =h @spaceship.ship_class
%p
  %strong Purpose:
  =h @spaceship.purpose
%p
  %strong Weapons:
  =h @spaceship.weapons
%p
  %strong Number Of Crew Members:
  =h @spaceship.number_of_crew_members
%p
  %strong Flight Plans:
  =h @spaceship.flight_plans

%p
  .nav
    = link_to "View All SpaceShips", spaceships_path

.clear
